<div class="center jumbotron">
  <h1><%= t "body.hello" %></h1>
  <%= link_to t("body.signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("framgialogo.png", alt: "Rails logo"),
  "http://recruit.framgia.vn" %>
