<li>
  <h3><%= category.name %><h3>
    <% if logged_in? %>
         <div class="center">
           <%= form_tag lessons_path, method: :post do %>
             <%= hidden_field_tag "lesson[category_id]", category.id  %>
             <%= submit_tag "start lesson", class: "btn btn-primary" %>
           <% end %>
         </div>
       <% end %>
</li>
