<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("view.footer.about"), about_path %></li>
      <li><%= link_to t("view.footer.contact"), contact_path %></li>
      <li>
        <a href="http://news.railstutorial.org/"><%= t "view.footer.news" %></a>
      </li>
    </ul>
  </nav>
</footer>
